@charset "UTF-8";
/*
Define palettes like this:

$palettes: (
	gray: (
		x-light: #xxxxxx,
		light: #xxxxxx,
		mid-light: #xxxxxx,
		base: #xxxxxx,
		mid-dark: #xxxxxx,
		dark: #xxxxxx,
		x-dark: #xxxxxx
	)
);

Call in CSS like this:

a {
    color: palette(gray);
    &:hover {
        color: palette(gray, light);
    }
}
*/
/* For the breakpoint sass library */
/*
$grid-padding: 10px;
$grid-padding-med: 20px;
$grid-padding-large: 40px;
*/
/*
Susy's defaults:

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);
*/
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    display: table;
    content: ""; }
  .cf:after {
    clear: both; }

.is-hidden {
  display: none !important;
  visibility: hidden; }

.is-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

/*
.hide-small {
    @media all and (max-width: $bp-med) {
        display: none;
    }
}

.hide-med {
    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
        display: none;
    }
}

.hide-large {
    @media all and (min-width: $bp-large) {
        display: none;
    }
}
*/
.has-success {
  color: #5ddd00; }

.has-error {
  color: #f00; }

.js-hidden {
  display: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 13px;
  line-height: 1.38462; }
  @media (min-width: 47.5em) {
    html {
      font-size: 14px;
      line-height: 1.42857; } }

body {
  background: #fff url(../images/dots-blue-sm.png) left top repeat;
  font-family: "adelle-sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.38462;
  color: #0F1E30; }
  @media (min-width: 47.5em) {
    body {
      line-height: 1.42857; } }
  body * {
    margin: 0; }
  body * + * {
    margin-top: 18px; }
    @media (min-width: 47.5em) {
      body * + * {
        margin-top: 20px; } }

a {
  color: #0F1E30;
  text-decoration: underline;
  outline: 0; }
  a:hover {
    text-decoration: none;
    color: #6B819A; }
  a:visited {
    color: #0F1E30; }
  a:focus {
    color: #6B819A; }

a[rel="external"]:after {
  content: "☞";
  display: inline-block;
  margin-left: .1em; }

.link--back:after {
  content: "↩";
  display: inline-block;
  margin-left: .1em; }

.link--top:after {
  content: "↑";
  display: inline-block;
  margin-left: .1em; }

.link--more:after {
  content: "…";
  display: inline-block; }

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle-sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  color: #0F1E30; }

h1, .as-h1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.38462; }
  @media (min-width: 47.5em) {
    h1, .as-h1 {
      font-size: 32px;
      line-height: 1.42857; } }

h2, .as-h2, .poster__artist {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38462; }
  @media (min-width: 47.5em) {
    h2, .as-h2, .poster__artist {
      font-size: 20px;
      line-height: 1.42857; } }

h3, .as-h3 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.38462; }
  @media (min-width: 47.5em) {
    h3, .as-h3 {
      font-size: 14px;
      line-height: 1.42857; } }

/*
h4, .as-h4 {
	font-size: pem(24px, fontSize(base));
	line-height: 1.25; // 30
	font-weight: fontWeight(body);
	+ * {
		margin-top: space(standard, small);
	}
}
h5, .as-h5 {
	font-size: pem(18px, fontSize(base));
  font-weight: fontWeight(headline);
	line-height: lineHeight(base);
	+ * {
		margin-top: 0;
	}
}
h6, .as-h6 {
	font-size: pem(18px, fontSize(base));
	font-style: italic;
	font-weight: fontWeight(body);
	line-height: lineHeight(base);
	+ * {
		margin-top: 0;
	}
}
*/
hgroup * + * {
  margin-top: 0; }
hgroup * {
  line-height: 1.2; }

p {
  font-size: 13px;
  line-height: 1.38462; }
  @media (min-width: 47.5em) {
    p {
      font-size: 14px;
      line-height: 1.42857; } }

.lede {
  font-size: 1.71429em;
  color: #0F1E30; }

blockquote {
  border-left: 1px solid #bfc1c3;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 40px;
  font-style: italic; }

small {
  font-size: 0.75em; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

q:before {
  content: "“";
  display: inline-block; }
q:after {
  content: "”";
  display: inline-block; }

mark {
  background: #ffffa5; }

code {
  font: 0.83333em "Courier New", Courier, monospace; }

abbr {
  border-bottom: 1px dotted;
  border-color: #bfc1c3;
  cursor: help; }

sub, sup {
  line-height: 0; }

hr {
  clear: both;
  display: block;
  margin: 36px 0 27px;
  padding: 0;
  height: 2px;
  border: 0;
  border-top: 1px solid #dee0e2; }
  @media (min-width: 47.5em) {
    hr {
      margin: 40px 0 30px; } }

.list li + li {
  margin-top: 5px; }
.list ol, .list ul {
  margin-top: 5px; }

.list--bullet {
  margin-left: 1.5em;
  list-style: disc; }

.list--number {
  margin-left: 1.5em;
  list-style: decimal; }
  .list--number ol {
    list-style: upper-alpha; }
    .list--number ol ol {
      list-style: lower-roman; }
      .list--number ol ol ol {
        list-style: lower-alpha; }

.list--inline li {
  display: inline-block;
  margin: 0 5px 0 0; }
  .list--inline li:last-child {
    margin-right: 0; }

dl {
  overflow: hidden; }

dt {
  font-weight: 700;
  color: #0F1E30; }
  dt + dd {
    margin-top: 0; }

dd + dd {
  margin-top: 0; }

img, video, object {
  max-width: 100%;
  height: auto; }

figure img {
  display: block; }
figure figcaption {
  font-style: normal; }

.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat; }

.icon--search {
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/icon-search.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon--search {
      background-image: url("../images/icons/icon-search@2x.png");
      background-size: 100%; } }

.icon--check {
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/icon-check.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon--check {
      background-image: url("../images/icons/icon-check@2x.png");
      background-size: 100%; } }

.icon--info {
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/icon-info.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon--info {
      background-image: url("../images/icons/icon-info@2x.png");
      background-size: 100%; } }

.icon--alert {
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/icon-alert.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon--alert {
      background-image: url("../images/icons/icon-alert@2x.png");
      background-size: 100%; } }

.icon--next {
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/icon-next.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon--next {
      background-image: url("../images/icons/icon-next@2x.png");
      background-size: 100%; } }

.icon--menu {
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/icon-menu.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon--menu {
      background-image: url("../images/icons/icon-menu@2x.png");
      background-size: 100%; } }

.icon--close {
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/icon-close.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon--close {
      background-image: url("../images/icons/icon-close@2x.png");
      background-size: 100%; } }

.icon--plus {
  width: 50px;
  height: 50px;
  background-image: url("../images/icons/icon-plus.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon--plus {
      background-image: url("../images/icons/icon-plus@2x.png");
      background-size: 100%; } }

.icon--minus {
  width: 50px;
  height: 50px;
  background-image: url("../images/icons/icon-minus.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon--minus {
      background-image: url("../images/icons/icon-minus@2x.png");
      background-size: 100%; } }

.circle {
  display: inline-block;
  border-radius: 50%;
  background: #202020;
  color: #ffffff;
  font-family: "Courier New", Courier, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  vertical-align: middle; }
  .circle + .circle {
    margin-top: 0; }

.circle__step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px; }

.circle__step--large {
  font-size: 19px;
  min-width: 38px;
  min-height: 38px;
  line-height: 38px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 0;
  width: 100%; }

th, td {
  border-bottom: 1px solid #bfc1c3;
  padding: 10px;
  text-align: left; }
  th:first-child, td:first-child {
    padding-left: 0; }
  th:last-child, td:last-child {
    padding-right: 0; }
  @media (min-width: 0) and (max-width: 47.5em) {
    th, td {
      padding: 9px; }
      th:first-child, td:first-child {
        padding-left: 0; }
      th:last-child, td:last-child {
        padding-right: 0; } }

th {
  font-weight: 700; }

.data--numeric {
  text-align: right; }

.button {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 10px;
  font-size: 1em;
  line-height: 1.2;
  text-decoration: none;
  vertical-align: middle;
  background-color: #0083c3;
  color: #fff;
  -webkit-appearance: none;
  box-shadow: 0 2px 0 #006190;
  cursor: pointer; }
  .button:hover, .button:focus {
    background-color: #00a5f6; }
  .button:visited {
    color: #ffffff; }
  .button:active {
    top: 2px;
    box-shadow: 0 0 0 #006190; }

.button--secondary {
  background-color: #ffffff;
  border: 1px solid #0083c3;
  color: #0083c3;
  box-shadow: none; }
  .button--secondary:hover, .button--secondary:focus {
    background-color: #ffffff;
    border-color: #00a5f6;
    color: #00a5f6; }
  .button--secondary:visited {
    color: #0083c3; }
  .button--secondary:active {
    top: 0;
    box-shadow: none; }

.button--disabled,
.button[disabled],
.button[disabled="disabled"] {
  background-color: #dee0e2;
  color: #bfc1c3;
  zoom: 1;
  cursor: default;
  box-shadow: 0 2px 0 #bfc1c3;
  pointer-events: none; }
  .button--disabled:hover,
  .button[disabled]:hover,
  .button[disabled="disabled"]:hover {
    cursor: default;
    background-color: #dee0e2;
    color: #bfc1c3; }
  .button--disabled:active,
  .button[disabled]:active,
  .button[disabled="disabled"]:active {
    top: 0;
    box-shadow: 0 2px 0 #bfc1c3; }

.button-group {
  display: flex;
  align-items: top; }
  .button-group li {
    margin: 0 10px 0 0; }
    .button-group li:last-child {
      margin-right: 0; }

fieldset {
  *zoom: 1;
  padding: 0;
  border: none;
  width: 100%; }
  fieldset:before, fieldset:after {
    display: table;
    content: ""; }
  fieldset:after {
    clear: both; }

textarea {
  display: block; }

.form-group {
  *zoom: 1;
  width: 100%; }
  .form-group:before, .form-group:after {
    display: table;
    content: ""; }
  .form-group:after {
    clear: both; }
  .form-group * + * {
    margin-top: 0; }

* + .form-group--related {
  margin-top: 5px; }

* + .form-group--compact {
  margin-top: 10px; }

.form-label {
  display: block;
  margin-bottom: 4.5px;
  color: #0F1E30; }
  @media (min-width: 47.5em) {
    .form-label {
      margin-bottom: 5px; } }

.form-label--bold {
  font-weight: 700; }

.form-label--optional:after {
  content: "(optional)";
  display: inline-block;
  margin-left: .5em;
  vertical-align: baseline;
  font-size: 0.75em;
  color: #6f777b; }

.form-label__hint {
  display: block;
  margin-bottom: 4.5px;
  font-size: 0.75em;
  line-height: 1.2;
  font-weight: normal;
  color: #6f777b; }
  @media (min-width: 47.5em) {
    .form-label__hint {
      margin-bottom: 5px; } }

.form-control {
  width: 100%;
  padding: 4.5px;
  background-color: #ffffff;
  border: 2px solid #bfc1c3; }

.form-control--sized {
  width: auto; }

@media (min-width: 47.5em) {
  .form-control--one-fourth {
    width: 25%; }

  .form-control--one-third {
    width: 33.333333%; }

  .form-control--one-half {
    width: 50%; }

  .form-control--two-thirds {
    width: 66.666666%; }

  .form-control--three-fourths {
    width: 75%; } }
.form-control--radio,
.form-control--checkbox {
  display: block;
  padding: 10px;
  background-color: #f8f8f8; }
  .form-control--radio input,
  .form-control--checkbox input {
    vertical-align: middle; }

.form-control--radio input {
  margin: -4px 10px 0 0; }
.form-control--radio + .form-control--radio {
  margin-top: 5px; }

.form-control--checkbox input {
  margin: -2px 10px 0 0; }
.form-control--checkbox + .form-control--checkbox {
  margin-top: 5px; }

.form-control--checkbox--inline {
  display: inline-block;
  padding: 0;
  background-color: transparent; }

input:focus {
  background-color: #ffffff;
  border-color: #202020;
  outline: none; }

.fieldset--box {
  border: 1px solid #dee0e2;
  padding: 20px;
  padding-top: 0;
  background-color: #f8f8f8; }

fieldset legend {
  font-weight: 700; }
  fieldset legend + * {
    margin-top: 20px; }
  fieldset legend .circle,
  fieldset legend .icon {
    margin-right: 5px; }

legend.is-visually-hidden + * {
  margin-top: 0; }
.fieldset--box legend.is-visually-hidden + * {
  margin-top: 20px; }

.form__separator {
  margin-top: 10px; }
  .form__separator + * {
    margin-top: 10px; }

.form__prompt + * {
  margin-top: 20px; }
.form__prompt .circle,
.form__prompt .icon {
  margin-right: 5px; }
.form__prompt .form__prompt__instruction {
  display: block;
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  color: #0F1E30; }

.form-control--inline {
  display: inline-block;
  vertical-align: middle; }
  .form-control--inline + .form-control--inline {
    margin-top: 0;
    margin-left: 5px; }

#Wrap {
  position: relative;
  width: 100%;
  min-height: 100vh; }

.site-header {
  min-height: 25vh; }

.site-header__inner {
  padding: 18px 121px 18px 18px; }

.site-logo {
  position: absolute;
  top: 0;
  right: 18px;
  margin-right: -5px; }

.site-content {
  overflow: hidden; }

.poster__info {
  padding: 18px; }

.poster__image {
  padding: 18px; }

.poster-nav {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 10; }

@media (min-width: 47.5em) {
  .flexbox #Wrap,
  .flexwrap #Wrap {
    display: flex;
    min-height: 100vh;
    align-items: stretch; } }
@media (min-width: 47.5em) {
  .flexbox .site-header,
  .flexwrap .site-header {
    flex: 0 0 auto;
    width: 33vw; } }
@media (min-width: 63.75em) {
  .flexbox .site-header,
  .flexwrap .site-header {
    width: 25vw; } }
@media (min-width: 81.25em) {
  .flexbox .site-header,
  .flexwrap .site-header {
    width: 20vw; } }
@media (min-width: 103.125em) {
  .flexbox .site-header,
  .flexwrap .site-header {
    width: 20vw; } }
@media (min-width: 47.5em) {
  .flexbox .site-header__inner,
  .flexwrap .site-header__inner {
    padding: 20px; } }
@media (min-width: 47.5em) {
  .flexbox .site-logo,
  .flexwrap .site-logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: auto;
    top: auto;
    margin-left: -2px;
    margin-bottom: -2px;
    margin-right: 0; } }
@media (min-width: 47.5em) {
  .flexbox .site-content,
  .flexwrap .site-content {
    flex: 1 1 auto; } }
@media (min-width: 63.75em) {
  .flexbox .poster,
  .flexwrap .poster {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between; } }
@media (min-width: 47.5em) {
  .flexbox .poster__info,
  .flexwrap .poster__info {
    padding: 20px; } }
@media (min-width: 63.75em) {
  .flexbox .poster__info,
  .flexwrap .poster__info {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 25vw;
    padding-bottom: 135px;
    min-height: 100vh; } }
@media (min-width: 81.25em) {
  .flexbox .poster__info,
  .flexwrap .poster__info {
    width: 30vw; } }
@media (min-width: 103.125em) {
  .flexbox .poster__info,
  .flexwrap .poster__info {
    width: 20vw; } }
@media (min-width: 47.5em) {
  .flexbox .poster__image,
  .flexwrap .poster__image {
    padding: 20px; } }
@media (min-width: 63.75em) {
  .flexbox .poster__image,
  .flexwrap .poster__image {
    flex: 1 1 auto;
    padding: 20px; } }
@media (min-width: 63.75em) {
  .flexbox .poster-nav,
  .flexwrap .poster-nav {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 20px;
    left: 25vw; }
    .flexbox .poster-nav li:first-child,
    .flexwrap .poster-nav li:first-child {
      margin-left: 16px; } }
@media (min-width: 81.25em) {
  .flexbox .poster-nav,
  .flexwrap .poster-nav {
    left: 20vw; } }

.flickity-viewport {
  margin-top: 0; }

.poster-slide {
  margin: 0;
  padding: 0;
  width: 100%; }

.carousel .poster__image img {
  transition: opacity 0.5s;
  opacity: .5; }

.carousel .poster__image img.flickity-lazyloaded,
.carousel .poster__image img.flickity-lazyerror {
  opacity: 1; }

.poster-nav {
  margin: 0;
  padding: 0;
  background-color: transparent; }
  .poster-nav li {
    margin: 0;
    padding: 0; }
  .poster-nav a {
    margin: 0;
    padding: 0;
    display: block;
    height: 40px;
    width: 40px;
    background-image: url(../images/icon-arrows.svg);
    background-repeat: no-repeat;
    text-indent: 100px;
    overflow: hidden; }
  .poster-nav .poster-nav__prev {
    padding-bottom: 7px;
    border-bottom: 1px solid #6B819A; }
  .poster-nav .poster-nav__next {
    padding-top: 7px; }
  .poster-nav .poster-nav__prev a {
    background-position: -190px 0px; }
    .poster-nav .poster-nav__prev a:hover {
      background-position: -190px -95px; }
  .poster-nav .poster-nav__next a {
    background-position: -230px 0px; }
    .poster-nav .poster-nav__next a:hover {
      background-position: -230px -95px; }
  @media (min-width: 63.75em) {
    .poster-nav li {
      float: left; }
    .poster-nav a {
      height: 95px;
      width: 95px; }
    .poster-nav .poster-nav__prev {
      padding: 0 20px 0 0;
      border-right: 1px solid #6B819A;
      border-bottom-width: 0; }
    .poster-nav .poster-nav__next {
      padding: 0 0 0 20px; }
    .poster-nav .poster-nav__prev a {
      background-position: 0px 0px; }
      .poster-nav .poster-nav__prev a:hover {
        background-position: 0px -95px; }
    .poster-nav .poster-nav__next a {
      background-position: -95px 0px; }
      .poster-nav .poster-nav__next a:hover {
        background-position: -95px -95px; } }

.poster {
  position: relative; }

.poster__info {
  background-color: #ffffff; }
  .poster__info > * {
    border-top: 1px solid #6B819A;
    margin-top: 0; }

.poster__artist,
.poster__pubdate,
.poster__description {
  padding: 4.5px 0; }
  @media (min-width: 47.5em) {
    .poster__artist,
    .poster__pubdate,
    .poster__description {
      padding: 5px 0; } }

.poster__number {
  border-top-width: 0;
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 3px;
  margin-top: -5px;
  height: 108px;
  width: 132px;
  text-indent: 198px;
  overflow: hidden; }
  .poster__number .number__tens,
  .poster__number .number__ones {
    margin: 0;
    display: block;
    height: 108px;
    width: 66px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/30reasons-sprites.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: transparent; }
  .poster__number .number__ones {
    left: 66px; }
  .poster__number .number--0 {
    background-position: -270px 0; }
  .poster__number .number--1 {
    background-position: -336px 0; }
  .poster__number .number--2 {
    background-position: -402px 0; }
  .poster__number .number--3 {
    background-position: -468px 0; }
  .poster__number .number--4 {
    background-position: -534px 0; }
  .poster__number .number--5 {
    background-position: -600px 0; }
  .poster__number .number--6 {
    background-position: -666px 0; }
  .poster__number .number--7 {
    background-position: -732px 0; }
  .poster__number .number--8 {
    background-position: -798px 0; }
  .poster__number .number--9 {
    background-position: -864px 0; }

.poster__artist a {
  text-decoration: none; }
  .poster__artist a:hover {
    text-decoration: underline; }

.poster__pubdate {
  font-family: "Courier New", "Courier", monospace;
  font-weight: 700; }

.poster__description > * + * {
  margin-top: 9px; }
@media (min-width: 47.5em) {
  .poster__description > * + * {
    margin-top: 10px; } }

.poster__image {
  margin-top: 0;
  text-align: center; }
  .poster__image img {
    margin: 0;
    padding: 0;
    display: inline-block; }

.poster__actions {
  border-bottom: 1px solid #6B819A;
  display: flex;
  align-items: center;
  font-family: "Courier New", "Courier", monospace; }
  .poster__actions * {
    margin-top: 0;
    font-weight: 700; }

.share--fb,
.share--tw {
  display: inline-block;
  width: 40px;
  height: 34px;
  text-indent: 80px;
  overflow: hidden;
  background-color: transparent;
  background-image: url(../images/30reasons-sprites.png);
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .2s; }
  .share--fb:hover,
  .share--tw:hover {
    opacity: .5; }

.share--tw {
  background-position: -520px -150px; }

.share--fb {
  background-position: -556px -150px; }

.action__toggle {
  display: none; }

.action__label {
  flex: 1 0 auto; }

.action__share {
  flex: 0 0 auto; }

@media (min-width: 0) and (max-width: 47.5em) {
  .js .action__toggle {
    display: block;
    flex: 1 0 auto; }
  .js .action__label {
    flex: 0 0 auto; }
  .js .action__share {
    flex: 0 0 auto; }
  .js .poster__info.is-closed .poster__pubdate,
  .js .poster__info.is-closed .poster__description,
  .js .poster__info.is-closed .poster__info-close {
    display: none; }
  .js .poster__info.is-closed .poster__info-open {
    display: block; }
  .js .poster__info.is-open .poster__pubdate,
  .js .poster__info.is-open .poster__description,
  .js .poster__info.is-open .poster__info-close {
    display: block; }
  .js .poster__info.is-open .poster__info-open {
    display: none; } }

.poster-nav {
  margin: 0;
  padding: 0;
  background-color: transparent; }
  .poster-nav li {
    margin: 0;
    padding: 0; }
  .poster-nav a {
    margin: 0;
    padding: 0;
    display: block;
    height: 40px;
    width: 40px;
    background-color: transparent;
    background-image: url(../images/30reasons-sprites.png);
    background-repeat: no-repeat;
    text-indent: 80px;
    overflow: hidden; }
  .poster-nav .poster-nav__prev {
    padding-bottom: 7px;
    border-bottom: 1px solid #6B819A; }
  .poster-nav .poster-nav__next {
    padding-top: 7px; }
  .poster-nav .poster-nav__prev a {
    background-position: -190px 0px; }
    .poster-nav .poster-nav__prev a:hover {
      background-position: -190px -95px; }
    .poster-nav .poster-nav__prev a.is-disabled {
      background-position: -190px -190px;
      pointer-events: none; }
  .poster-nav .poster-nav__next a {
    background-position: -230px 0px; }
    .poster-nav .poster-nav__next a:hover {
      background-position: -230px -95px; }
    .poster-nav .poster-nav__next a.is-disabled {
      background-position: -230px -190px;
      pointer-events: none; }
  @media (min-width: 63.75em) {
    .poster-nav li {
      float: left; }
    .poster-nav a {
      height: 95px;
      width: 95px;
      text-indent: 190px; }
    .poster-nav .poster-nav__prev {
      padding: 0 20px 0 0;
      border-right: 1px solid #6B819A;
      border-bottom-width: 0; }
    .poster-nav .poster-nav__next {
      padding: 0 0 0 20px; }
    .poster-nav .poster-nav__prev a {
      background-position: 0px 0px; }
      .poster-nav .poster-nav__prev a:hover {
        background-position: 0px -95px; }
      .poster-nav .poster-nav__prev a.is-disabled {
        background-position: 0px -190px; }
    .poster-nav .poster-nav__next a {
      background-position: -95px 0px; }
      .poster-nav .poster-nav__next a:hover {
        background-position: -95px -95px; }
      .poster-nav .poster-nav__next a.is-disabled {
        background-position: -95px -190px; } }

.poster-grid {
  padding: 18px; }
  .poster-grid > li {
    float: left;
    width: 50%;
    max-width: 320px; }
  @media (min-width: 47.5em) {
    .poster-grid {
      padding: 20px; }
      .poster-grid > li {
        width: 50%; } }
  @media (min-width: 63.75em) {
    .poster-grid > li {
      width: 33%; } }
  @media (min-width: 81.25em) {
    .poster-grid > li {
      width: 25%; } }
  @media (min-width: 103.125em) {
    .poster-grid > li {
      width: 20%; } }
  @media (min-width: 128.125em) {
    .poster-grid > li {
      width: 16.66667%; } }

.flexwrap .poster-grid {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap; }
  .flexwrap .poster-grid > li {
    float: none; }

.poster-thumb {
  margin: 0;
  padding: 0;
  background-color: transparent; }
  .poster-thumb > * {
    border-top: 1px solid #6B819A;
    margin-top: 0; }
  .poster-thumb .poster__number,
  .poster-thumb .poster__artist,
  .poster-thumb .poster__pubdate {
    padding-left: 10px;
    padding-right: 10px; }
  .poster-thumb .poster__number {
    border-top-width: 0;
    margin-left: 10px;
    margin-top: 36px; }
  .poster-thumb .poster__pubdate {
    border-bottom: 1px solid #6B819A;
    margin-bottom: 10px; }
  .poster-thumb .poster__image {
    padding: 10px;
    border-top-width: 0; }
    .poster-thumb .poster__image img {
      display: block;
      margin: 0;
      padding: 0;
      transition: all .2s;
      transform-origin: center center; }
    .poster-thumb .poster__image a:hover img {
      -webkit-filter: grayscale(1) brightness(80%);
      filter: grayscale(1) brightness(80%);
      transform: scale(0.95); }
  @media (min-width: 47.5em) {
    .poster-thumb .poster__number {
      margin-top: 40px; } }

.site-about {
  position: relative;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 18px; }
  .site-about h2 {
    margin-bottom: -9px; }
  @media (min-width: 47.5em) {
    .site-about {
      padding: 80px 30px 40px; }
      .site-about h2 {
        margin-bottom: -10px; } }
  @media (min-width: 63.75em) {
    .site-about .site-about__content {
      column-count: 2;
      column-gap: 20px; }
    .site-about h1 {
      column-span: all; } }
  @media (min-width: 81.25em) {
    .site-about .site-about__content {
      column-count: 3;
      column-gap: 20px; } }

.site-content {
  position: relative;
  margin: 0;
  padding: 0; }

.site-header {
  position: relative;
  background-image: url(../images/hillary-plane-tinted.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; }
  .site-header .positioning {
    font-weight: 400;
    color: #0F1E30; }
    .site-header .positioning a {
      text-decoration: none; }
      .site-header .positioning a:hover {
        text-decoration: underline; }
  .site-header .positioning__number {
    display: block;
    margin: 0;
    font-weight: 700; }
  .site-header .main-nav {
    margin-top: 18px; }
    .site-header .main-nav li {
      font-weight: 700;
      display: inline-block;
      padding-right: 2px; }
    .site-header .main-nav a {
      display: inline-block;
      padding: 3px 5px;
      background-color: #ffffff;
      color: #0F1E30;
      text-decoration: none;
      transition: all .2s; }
      .site-header .main-nav a:hover {
        background-color: #0F1E30;
        color: #ffffff; }
  .site-header .site-logo {
    display: block;
    height: 50px;
    width: 85px;
    background-color: transparent;
    background-image: url(../images/30reasons-sprites.png);
    background-position: -435px -150px;
    background-repeat: no-repeat;
    text-indent: 85px;
    overflow: hidden; }
  .site-header a.site-logo {
    transition: all .2s; }
    .site-header a.site-logo:hover {
      opacity: .5; }
  @media (min-width: 47.5em) {
    .site-header .site-logo {
      height: 100px;
      width: 165px;
      background-position: -270px -150px;
      text-indent: 165px; }
    .site-header .main-nav {
      margin-top: 20px; }
    .site-header .main-nav li {
      display: block; } }

.sec-home #NavHome {
  display: none; }

.sec-all #NavAll {
  display: none; }

.site-footer {
  padding: 18px;
  background: transparent;
  color: #3C5068; }
  @media (min-width: 47.5em) {
    .site-footer {
      padding: 20px; } }

.svg .site-header .site-logo,
.svg .poster__number .number__tens,
.svg .poster__number .number__ones,
.svg .share--fb,
.svg .share--tw,
.svg .poster-nav a {
  background-image: url(../images/30reasons-sprites.svg); }

.theme-blue .site-header {
  background-color: #0F1E30;
  background-image: none;
  color: #ffffff; }
.theme-blue .site-header .positioning {
  color: #ffffff; }
.theme-blue .site-header .positioning a {
  color: #ffffff; }
.theme-blue .site-header .positioning__number {
  color: #D80000; }
.theme-blue .main-nav a:hover {
  background-color: #6B819A;
  color: #0F1E30; }

.theme-red .site-header {
  background-color: #D80000;
  background-image: none;
  color: #ffffff; }
.theme-red .site-header .positioning {
  color: #ffffff; }
.theme-red .site-header .positioning a {
  color: #ffffff; }
.theme-red .main-nav a {
  color: #D80000; }
.theme-red .main-nav a:hover {
  background-color: #0F1E30;
  color: #ffffff; }
