//
// Links
//

a {
	color: palette(blue, light);
	text-decoration: underline;
	outline: 0;
	&:hover {
		text-decoration: none;
		color: palette(blue, light);
	}
	&:visited {
		color: palette(blue, light);
	}
	&:focus {
		color: palette(blue, light);
	}
}

// External
a[rel="external"] {
	&:after {
		// content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
		content: "☞";
		display: inline-block;
  	margin-left: .1em;
  }
}

// Back
.link--back {
	&:after {
		content: "↩";
		display: inline-block;
		margin-left: .1em;
	}
}

// Top
.link--top {
	&:after {
		content: "↑";
		display: inline-block;
		margin-left: .1em;
	}
}

// More
.link--more {
	&:after {
		content: "…";
		display: inline-block;
	}
}