<header id="Top" class="site-header" role="banner">
	<div class="site-header__inner">
		<h1 class="positioning as-h2"><strong>30 Reasons</strong> is a 30-poster campaign encouraging voters to support Hillary Clinton for President.{% if page.layout == 'reason' %} <b class="positioning__number">This is reason #{{ page.numberTens }}{{ page.numberOnes }}.</b>{% endif %}</h1>
		<ul class="main-nav list">
			<li id="NavHome"><a href="{{ site.github.url }}/">Home</a></li>
			<li id="NavAll"><a href="{{ site.github.url }}/reasons/">View all posters</a></li>
			<li id="NavAbout">
				{% if page.layout == 'all' %}
					<a class="js-animate-scroll" href="#About">About 30 Reasons</a>
				{% else %}
					<a href="{{ site.github.url }}/reasons/index.html#About">About 30 Reasons</a>
				{% endif %}
			</li>
			<li id="NavDonate"><a href="http://www.hillaryclinton.com/donate">Donate to Hillary’s campaign</a></li>
			<li id="NavFollow">
				{% if page.layout == 'all' %}
					<a class="js-animate-scroll" href="#Follow">Follow and subscribe</a>
				{% else %}
					<a href="{{ site.github.url }}/reasons/index.html#Follow">Follow and subscribe</a>
				{% endif %}
			</li>			
		</ul>
		{% if page.layout == 'home' %}
			<div class="site-logo">30R</div>
		{% else %}
			<a class="site-logo" href="{{ site.github.url }}/">30R</a>
		{% endif %}
	</div>
</header>
