<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }}</title>
	<!-- SEO -->
	<meta name="author" content="{{ site.siteName }}" />
	<meta name="description" content="{{ site.siteDescription }}" />
	<meta name="Copyright" content="Copyright 2016 30 Reasons" />
	<!-- Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="{{ site.github.url }}/favicon.png" />	 
	<link rel="apple-touch-icon" href="{{ site.github.url }}/apple-touch-icon.png"" />
	<!-- CSS -->
	<link href="{{ site.github.url }}/public/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<!-- Modernizr -->
	<script src="{{ site.github.url }}/public/js/libs/modernizr-3.3.1.svg-flex-flexwrap.js"></script>
	{% if page.layout == 'reason' %}
		<!-- Twitter: see https://dev.twitter.com/docs/cards/types/summary-card for details -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@30Reasons" />
		<meta name="twitter:title" content="{{ page.title }}" />
		<meta name="twitter:description" content="{{ site.siteDescription }}" />
		<meta name="twitter:url" content="{{ site.github.url }}{{ page.url }}" />
		<meta name="twitter:image" content="{{ site.github.url }}/public/images/{{ page.thumbnail }}"
		<!-- Facebook (and some others) use the Open Graph protocol: see http://ogp.me/ for details -->
		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:description" content="{{ site.siteDescription }}" />
		<meta property="og:url" content="{{ site.github.url }}{{ page.url }}" />
		<meta property="og:image" content="{{ site.github.url }}/public/images/{{ page.thumbnail }}" />
	{% else %}
		{% assign arrayIndex = site.currentReason|minus:1 %}	
		<!-- Twitter: see https://dev.twitter.com/docs/cards/types/summary-card for details -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@30Reasons">
		<meta name="twitter:title" content="{{ site.siteName }}" />
		<meta name="twitter:description" content="{{ site.siteDescription }}" />
		<meta name="twitter:url" content="{{ site.github.url }}">
		<meta name="twitter:image" content="{{ site.github.url }}/public/images/{{ site.reasons[arrayIndex].thumbnail }}" />
		<!-- Facebook (and some others) use the Open Graph protocol: see http://ogp.me/ for details -->
		<meta property="og:title" content="{{ site.siteName }}" />
		<meta property="og:description" content="{{ site.siteDescription }}" />
		<meta property="og:url" content="{{ site.github.url }}" />
		<meta property="og:image" content="{{ site.github.url }}/public/images/{{ site.reasons[arrayIndex].thumbnail }}" />
	{% endif %}
	{% if page.layout == 'home' %}
		<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/public/css/libs/flickity.min.css"/>
	{% endif %}
</head>