<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }}</title>
	<!-- SEO -->
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="google-site-verification" content="" />
	<meta name="Copyright" content="Copyright 2016 30 Reasons" />
	<!-- Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="{{ site.siteUrl }}favicon.ico" />	 
	<link rel="apple-touch-icon" href="{{ site.siteUrl }}apple-touch-icon.png"" />
	<!-- CSS -->
	<link href="{{ site.siteUrl }}public/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<!-- Modernizr -->
	<script src="{{ site.siteUrl }}public/js/libs/modernizr-3.3.1.svg-flex-flexwrap.js"></script>
	<!-- Twitter: see https://dev.twitter.com/docs/cards/types/summary-card for details -->
	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:url" content="">
	<!-- Facebook (and some others) use the Open Graph protocol: see http://ogp.me/ for details -->
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />	
	<link rel="stylesheet" type="text/css" href="{{ site.siteUrl }}public/css/libs/flickity.min.css"/>
</head>