//
// Poster
//

//
// Variables

$num-offset: -150px;
$num-height: 108px;
$num-width: 66px;

//
// Styles

.poster {
	position: relative;
}

.poster__info {
	background-color: palette(white);
	> * {
		border-top: 1px solid palette(blue, x-light);
		margin-top: 0;
	}	
}

.poster__artist,
.poster__pubdate,
.poster__description {
	padding: space(mobile, x-small) 0;	
	@include breakpoint($bp-med) {
		padding: space(standard, x-small) 0;
	}
}

.poster__number {
	border-top-width: 0;
	position: relative;
	display: block;
	margin: 0;
	margin-bottom: 3px;
	margin-top: -5px;
	height: $num-height;
	width: $num-width*2;
	text-indent: $num-width*3;
	overflow: hidden;
	.number__tens,
	.number__ones {
		margin: 0;
		display: block;
		height: $num-height;
		width: $num-width;
		position: absolute;
		top: 0;
		left: 0;
		background: {
			image: url(../images/30reasons-numbers.svg);
			position: left top;
			repeat: no-repeat;
			color: transparent;
		}
	}
	.number__ones {
		left: $num-width;
	}
	.number--0 {
		background-position: 0 0*$num-offset;
	}
	.number--1 {
		background-position: 0 1*$num-offset;
	}
	.number--2 {
		background-position: 0 2*$num-offset;
	}
	.number--3 {
		background-position: 0 3*$num-offset;
	}
	.number--4 {
		background-position: 0 4*$num-offset;
	}
	.number--5 {
		background-position: 0 5*$num-offset;
	}
	.number--6 {
		background-position: 0 6*$num-offset;
	}
	.number--7 {
		background-position: 0 7*$num-offset;
	}
	.number--8 {
		background-position: 0 8*$num-offset;
	}
	.number--9 {
		background-position: 0 9*$num-offset;
	}
	
}
.poster__artist {
	@extend .as-h2;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.poster__pubdate {
	font-family: fontFamily(mono);
	font-weight: fontWeight(headline);
}
.poster__description {
	> * + *{
		margin-top: space(mobile, small);
	}
	@include breakpoint($bp-med) {
		> * + * {
			margin-top: space(standard, small);
		}
	}
}
.poster__image {
	margin-top: 0;
	text-align: center;
	img {
		@include zero;
		display: inline-block;
	}
}

//
// Poster actions

.poster__actions {
	border-bottom: 1px solid palette(blue, x-light);
	display: flex;
	align-items: center;
	font-family: fontFamily(mono);
	* {
		margin-top: 0;
		font-weight: fontWeight(headline);
	}	
}
.share--fb,
.share--tw {
	display: inline-block;
	width: 36px;
	height: 36px;
	text-indent: 100px;
	overflow: hidden;
	background: {
		repeat: no-repeat;
		position: center center;
	}
	transition: all .2s;
	&:hover {
		opacity: .5;
	}
}
.share--tw {
	background-image: url(../images/icon-twitter.svg);
}
.share--fb {
	background-image: url(../images/icon-facebook.svg);
}

//
// States

.action__toggle {
	display: none;
}
.action__label {
	flex: 1 0 auto;
}
.action__share {
	flex: 0 0 auto;
}

.js {

	@include breakpoint(0 $bp-med) {
		.action__toggle {
			display: block;
			flex: 1 0 auto;
		}
		.action__label {
			flex: 0 0 auto;
		}
		.action__share {
			flex: 0 0 auto;
		}
		.poster__info.is-closed {
			.poster__pubdate,
			.poster__description,
			.poster__info-close {
				display: none;
			}
			.poster__info-open {
				display: block;
			}
		}
		.poster__info.is-open {
			.poster__pubdate,
			.poster__description,
			.poster__info-close {
				display: block;
			}
			.poster__info-open {
				display: none;
			}
		}
	}
	
}

//
// Poster nav

$next-big-x: -95px;
$next-big-y: 0px;
$prev-big-x: 0px;
$prev-big-y: 0px;
 
$next-small-x: -230px;
$next-small-y: 0px;
$prev-small-x: -190px;
$prev-small-y: 0px;

$next-big-y-hover: -95px;
$prev-big-y-hover: -95px;
$next-small-y-hover: -95px;
$prev-small-y-hover: -95px;

.poster-nav {
	@include zero;
	background-color: transparent;//rgba(255,255,255,.8);
	li {
		@include zero;
	}
	a {
		@include zero;
		display: block;
		height: 40px;
		width: 40px;
		background: {
			image: url(../images/icon-arrows.svg);
			repeat: no-repeat;
		}
		text-indent: 100px;
		overflow: hidden;
		&.is-disabled {
			opacity: .2;
			pointer-events: none;
		}
	}
	.poster-nav__prev {
		padding-bottom: 7px;
		border-bottom: 1px solid palette(blue, x-light);
	}
	.poster-nav__next {
		padding-top: 7px;
	}
	.poster-nav__prev a {
		background-position: $prev-small-x $prev-small-y;
		&:hover {
			background-position: $prev-small-x $prev-small-y-hover;
		}
	}
	.poster-nav__next a {
		background-position: $next-small-x $next-small-y;
		&:hover {
			background-position: $next-small-x $next-small-y-hover;
		}
	}
	@include breakpoint($bp-large) {
		li {
			float: left;
		}
		a {
			height: 95px;
			width: 95px;
		}
		.poster-nav__prev {
			padding: 0 space(standard) 0 0;
			border-right: 1px solid palette(blue, x-light);
			border-bottom-width: 0;
		}
		.poster-nav__next {
			padding: 0 0 0 space(standard);
		}
		.poster-nav__prev a {
			background-position: $prev-big-x $prev-big-y;
			&:hover {
				background-position: $prev-big-x $prev-big-y-hover;
			}
		}
		.poster-nav__next a {
			background-position: $next-big-x $next-big-y;
			&:hover {
				background-position: $next-big-x $next-big-y-hover;
			}
		}
	}
}

//
// Poster thumbnails and grid

.poster-grid {
	padding: space(mobile);
	> li {
		float: left;
		width: 50%;
		max-width: 320px;
	}
	@include breakpoint($bp-med) {
		padding: space(standard);
		> li {
			width: 50%;
		}
	}
	@include breakpoint($bp-large) {
		> li {
			width: 33%;
		}
	}
	@include breakpoint($bp-x-large) {
		> li {
			width: 25%;
		}
	}
	@include breakpoint($bp-xx-large) {
		> li {
			width: 20%;
		}
	}
	@include breakpoint($bp-xxx-large) {
		> li {
			width: 16.666666%
		}
	}
}
.flexwrap .poster-grid {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	> li {
		float: none;
	}
}

.poster-thumb {
	@include zero;
	background-color: transparent;
	> * {
		border-top: 1px solid palette(blue, x-light);
		margin-top: 0;
	}
	.poster__number,
	.poster__artist,
	.poster__pubdate {
		padding-left: space(standard, small);
		padding-right: space(standard, small);
	}
	.poster__number {
		border-top-width: 0;
		margin-left: space(standard, small);
		margin-top: space(mobile, large);
	}
	.poster__pubdate {
		border-bottom: 1px solid palette(blue, x-light);
		margin-bottom: space(standard, small);
	}
	.poster__image {
		padding: space(standard, small);
		border-top-width: 0;
		img {
			display: block;
			margin: 0;
			padding: 0;
			transition: all .2s;
			transform-origin: center center;
		}
		a:hover img {
			-webkit-filter: grayscale(1) brightness(80%);
			filter: grayscale(1) brightness(80%);
			transform: scale(.95);
		}
	}
	@include breakpoint($bp-med) {
		.poster__number {
			margin-top: space(standard, large);
		}
	}
}

/*
	a:hover img {
		-webkit-filter: grayscale(1) opacity(.7);
		filter: grayscale(1) opacity(.7);
	}
*/
