//
// Site header
//

.site-header {
	position: relative;
	min-height: 25vh;
	
	background: {
		image: url(../images/hillary-plane-tinted.jpg);
		position: center top;
		size: cover;
		repeat: no-repeat;
	}
	
	.site-header__inner {
		padding: space(mobile);
	}
	
	.positioning {
		font-weight: fontWeight(body);
		color: palette(blue);
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.main-nav {
		margin-top: space(mobile);
		li {
			font-weight: fontWeight(headline);
		}
		a {
			color: palette(blue);
		}
	}
	
	a.site-logo:hover img {
		opacity: .5;
	} 
	
	@include breakpoint($bp-med) {
		.site-header__inner {
			padding: space(standard);
		}
	}	
			
}

//
// Theming

.all .site-header {
	background-color: palette(blue);
	background-image: none;
	.positioning {
		color: palette(blue, x-light);
		strong {
			color: white;
		}
	}
	.main-nav a {
		color: palette(white);
	}
}


