//
// Site header
//

.site-header {
	position: relative;
	
	background: {
		image: url(../images/hillary-plane-tinted.jpg);
		position: center top;
		size: cover;
		repeat: no-repeat;
	}
	
	.positioning {
		font-weight: fontWeight(body);
		color: palette(blue);
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.positioning__number {
		display: block;
		margin: 0;
		font-weight: fontWeight(headline);
	}
	
	.main-nav {
		margin-top: space(mobile);
		li {
			font-weight: fontWeight(headline);
			display: inline-block;
			padding-right: 2px;
		}
		a {
			display: inline-block;
			padding: 3px 5px;
			background-color: palette(white);
			color: palette(blue);
			text-decoration: none;
			transition: all .2s;
			&:hover {
				background-color: palette(blue);
				color: palette(white);
			}
		}
	}
	
	a.site-logo {
		transition: all .2s;
		&:hover {
			opacity: .5;
		}
	}
	
	@include breakpoint($bp-med) {
		
		.main-nav {
			margin-top: space(standard);
		}
		
		.main-nav li {
			display: block;
		}

	}
			
}