//
// Site header
//

.site-header {
	position: relative;
	min-height: 25vh;
	
	* + * {
		margin-top: space(mobile, small);
	}
	
	background: {
		image: url(../images/hillary-plane-tinted.jpg);
		position: center top;
		size: cover;
		repeat: no-repeat;
	}
	
	.site-header__inner {
		padding: space(mobile) 30% space(mobile) space(mobile);
	}
	
	.positioning {
		font-weight: fontWeight(body);
		color: palette(blue);
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.main-nav {
		margin-top: space(mobile);
		li {
			font-weight: fontWeight(headline);
			display: inline-block;
			padding-right: 2px;
		}
		a {
			display: inline-block;
			padding: 3px 5px;
			background-color: palette(white);
			color: palette(blue);
			text-decoration: none;
			&:hover {
				background-color: palette(blue);
				color: palette(white);
			}
		}
	}
	
	a.site-logo:hover img {
		opacity: .5;
	} 
	
	@include breakpoint($bp-med) {

		* + * {
			margin-top: space(standard, small);
		}
	
		.site-header__inner {
			padding: space(standard);
		}
		
		.main-nav li {
			display: block;
		}

	}
			
}