//
// Site header
//

.site-header {
	position: relative;
	min-height: 25vh;
	
	background: {
		image: url(../images/hillary-plane-tinted.jpg);
		position: center top;
		size: cover;
		repeat: no-repeat;
	}
	
	.site-header__inner {
		padding: space(mobile);
	}
	
	.positioning {
		font-weight: fontWeight(body);
		color: palette(blue);
		a {
			display: block;
			margin-top: space(standard, small);
			color: palette(blue);
			font-weight: fontWeight(headline);
		}
	}
	
	.main-nav {
		margin-top: space(mobile);
		li {
			font-weight: fontWeight(headline);
		}
		a {
			color: palette(blue);
		}
	}
	
	@include breakpoint($bp-med) {
		.site-header__inner {
			padding: space(standard);
		}
	}	
			
}



