//
// Layout choreography
//

//
// The mobile-only styles are first
// The tablet + styles come next, but will only be served to browsers
// That have a flexbox implementation that works. Otherwise, they'll
// get the mobile layout.

// The wrapper

#Wrap {


}

//
// Site header

.site-header {
	min-height: 25vh;
}

.site-header__inner {
	padding: space(mobile) (sprite(logo-small, w) + space(mobile, large)) space(mobile) space(mobile);
}

.site-logo {
	position: absolute;
	top: 0;
	right: space(mobile);
	margin-right: -5px;
}

//
// Site content

.site-content {
	overflow: hidden;
}
.poster {

}
.poster__info {
	padding: space(mobile);
}
.poster__image {
	padding: space(mobile);
}

.poster-nav {
	position: absolute;
	top: space(mobile);
	right: space(mobile);
	z-index: 10;
}

// These are the tablet + styles that kick in
// if the browser passes Modernizr's checks for
// flexbox and flexwrap support

//
// The wrapper

.flexbox,
.flexwrap {
	#Wrap {
	
		@include breakpoint($bp-med) {
			display: flex;
			min-height: viewUnit(vert, 6-6);
			align-items: stretch;
		}

	}

	//
	// Site header

	.site-header {
		@include breakpoint($bp-med) {
			flex: 0 0 auto;
			width: viewUnit(hor, 2-6);
		}
		@include breakpoint($bp-large) {
			width: 25vw;
		}
		@include breakpoint($bp-x-large) {
			width: 20vw;
		}
		@include breakpoint($bp-xx-large) {
			width: 20vw;
		}
	}

	.site-header__inner {
		@include breakpoint($bp-med) {
			padding: space(standard);
		}
	}

	.site-logo {
		@include breakpoint($bp-med) {
			position: fixed;
			bottom: space(standard);
			left: space(standard);
			right: auto;
			top: auto;
			margin-left: -2px;
			margin-bottom: -2px;
			margin-right: 0;
		}
	}

	//
	// Site content

	.site-content {
		@include breakpoint($bp-med) {
			flex: 1 1 auto;
		}
	}

	.poster {
		@include breakpoint($bp-large) {
			display: flex;
			min-height: 100vh;
			align-items: center;
			justify-content: space-between;
		}
	}

	.poster__info {
		@include breakpoint($bp-med) {
			padding: space(standard);
		}
		@include breakpoint($bp-large) {
			flex: 0 0 auto;
			align-self: flex-start;
			width: 25vw;
			padding-bottom: 135px; // clear some space for the nav
			min-height: 100vh;
		}
		@include breakpoint($bp-x-large) {
			width: 30vw;
		}
		@include breakpoint($bp-xx-large) {
			width: 20vw;
		}
	}

	.poster__image {
		@include breakpoint($bp-med) {
			padding: space(standard);
		}
		@include breakpoint($bp-large) {
			flex: 1 1 auto;
			padding: space(standard);
		}
	}

	.poster-nav {

		@include breakpoint($bp-large) {
			position: fixed;
			top: auto;
			right: auto;
			bottom: space(standard);
			left: 25vw;
			li:first-child {
				margin-left: 16px;
			}
		}
	
		@include breakpoint($bp-x-large) {
			left: 20vw;
		}
	}

}