//
// Variables
//

//
// Color palettes
//

/*
Define palettes like this:

$palettes: (
	gray: (
		x-light: #xxxxxx,
		light: #xxxxxx,
		mid-light: #xxxxxx,
		base: #xxxxxx,
		mid-dark: #xxxxxx,
		dark: #xxxxxx,
		x-dark: #xxxxxx
	)
);

Call in CSS like this:

a {
    color: palette(gray);
    &:hover {
        color: palette(gray, light);
    }
}
*/

$palettes: (
	black: (
		base: #202020
	),
	white: (
		base: #ffffff
	),
	blue: (
		base: #0F1E30,
		light: #3C5068,
		x-light: #6B819A,
		xx-light: #D7E4F6
	),
	red: (
		base: #D80000
	), 
	red-32: (
		base: #f65058,
		light: lighten(#f65058, 10%),
		dark: darken(#f65058, 10%)
	),
	process-blue: (
		base: #0083c3,
		light: lighten(#0083c3, 10%),
		dark: darken(#0083c3, 10%)
	),
	process-cyan: (
		base: #0097db,
		light: lighten(#0097db, 10%),
		dark: darken(#0097db, 10%)
	),
	process-magenta: (
		base: #d53f77,
		light: lighten(#d53f77, 10%),
		dark: darken(#d53f77, 10%)
	),	
	process-yellow: (
		base: #ffe52b,
		light: lighten(#ffe52b, 10%),
		dark: darken(#ffe52b, 10%)
	),
	postit-yellow: (
		base: #ffffa5
	),
	gray: (
			base: #bfc1c3,
			x-light: #f8f8f8,
			light: #dee0e2,
			dark: #6f777b,
			x-dark: #404040
	),
	status: (
		error: #f00,
		success: #5ddd00,
		info: #9cf
	),
	social: (
		facebook: #03539e,
		twitter: #35ccff,
		linkedin: #217bc1
	),
	overlay: (
		base: rgba(0,0,0,.2),
		light: rgba(255,255,255,.8)
	)
);

@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}


//
// Typography
//

// Base type colors
$body-color: palette(blue);
$headline-color: palette(blue);

// Maps
$fontFamilies: (
	base: ("adelle-sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif),
	headline: ("adelle-sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif),
	body: ("adelle-sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif),
	mono: ("Courier New", "Courier", monospace)
);
$fontWeights: (
	base: 400,
	headline: 700,
	body: 400,
	light: 300,
	thin: 100
);
$fontSizes: (
	base: 15px,// 14px
	base-mobile: 14px,// 13px
	base-em: 1em,
	x-small: .625em,
	small: .75em,
	large: 1.375em,
	x-large: 1.5em
);
$lineHeights: (
	base: 1.33333333333,//1.42857143, // 20px
	base-mobile: 1.28571428571,//1.38461538, // 18px
	tight: 1.2,
	flush: 1,
	loose: 1.5
);

// Functions
@function fontFamily($family: 'base') {
		@return map-get($fontFamilies, $family);
}
@function fontWeight($weight: 'base') {
		@return map-get($fontWeights, $weight);
}

@function fontSize($size: 'base') {
		@return map-get($fontSizes, $size);
}

@function lineHeight($height: 'base') {
		@return map-get($lineHeights, $height);
}

//
// Borders
//

$border-color-base: pallete(gray, light);

$borders: (
	color: $border-color-base,
	style: solid,
	width: 1px
);

@function border($prop) {
	@if map-has-key($borders, $prop) {
		@return map-get($borders, $prop);
	}
	@warn "The key #{$prop} is not in the map '$borders'";
	@return null;
}

//
// Sizes
//

$space-base: fontSize(base) * lineHeight(base);
$space-base-mobile: fontSize(base-mobile) * lineHeight(base-mobile);

$spaces: (
	base: 0px,
	standard: (
		single: $space-base,
		x-small: $space-base*.25,
		small: $space-base*.5,
		medium: $space-base*1.5,
		large: $space-base*2,
		x-large: $space-base*4	
	),
	mobile: (
		single: $space-base-mobile,
		x-small: $space-base-mobile*.25,
		small: $space-base-mobile*.5,
		medium: $space-base-mobile*1.5,
		large: $space-base-mobile*2,
		x-large: $space-base-mobile*4	
	)
);

@function space($space: 'base', $multiple: 'single') {
    @return map-get(map-get($spaces, $space), $multiple);
}

//
// Layers
//

$layers: (
  offcanvas: 1,
  lightbox: 500,
  modal: 100,
  dropdown: 10,
  tooltip: 15
);

@function layer($name) {
  @if map-has-key($layers, $name) {
    @return map-get($layers, $name);  
  }
   
  @warn "The key #{$name} is not in the map '$layers'";
  @return null;
};

//
// Breakpoints
//

/* For the breakpoint sass library */
$breakpoint-to-ems: true;

$bp-med: 760px;
$bp-large: 1020px;
$bp-x-large: 1300px;
$bp-xx-large: 1650px;
$bp-xxx-large: 2050px;
$bp-xxxx-large: 2050px;

//
// Grid
//

// Grid settings

$grid-max: 100%;
/*
$grid-padding: 10px;
$grid-padding-med: 20px;
$grid-padding-large: 40px;
*/
$grid-paddings: (
	base: 20px,
	med: 20px,
	large: 40px
);

@function gridPadding($gp: base){
	@return map-get($grid-paddings, $gp);
}

$view-units: (
	hor: (
		1-6: 16.5vw,
		2-6: 33vw,
		3-6: 50vw,
		4-6: 66.5vw,
		5-6: 83vw,
		6-6: 100vw	
	),
	vert: (	
		1-6: 16.5vh,
		2-6: 33vh,
		3-6: 50vh,
		4-6: 66.5vh,
		5-6: 83vh,
		6-6: 100vh
	)
);

@function viewUnit($dir: 'hor', $num: '1-6') {
    @return map-get(map-get($view-units, $dir), $num);
}

// Susy grid

$susy: (
  columns: 12,
  gutters: .25,
  global-box-sizing: border-box
);

/*
Susy's defaults:

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);
*/

//
// Sprites

$sprites: (
	logo: (
		x: -270px,
		y: -150px,
		h: 100px,
		w: 165px
	),
	logo-small: (
		x: -435px,
		y: -150px,
		h: 50px,
		w: 85px
	),
	next-small: (
		h: 40px,
		w: 40px,
		x: -230px,
		y: 0px,
		hover-x: -230px,
		hover-y: -95px,
		disabled-x: -230px,
		disabled-y: -190px
	),
	next-large: (
		h: 95px,
		w: 95px,
		x: -95px,
		y: 0px,
		hover-x: -95px,
		hover-y: -95px,
		disabled-x: -95px,
		disabled-y: -190px
	),
	prev-small: (
		h: 40px,
		w: 40px,
		x: -190px,
		y: 0px,
		hover-x: -190px,
		hover-y: -95px,
		disabled-x: -190px,
		disabled-y: -190px
	),
	prev-large: (
		h: 95px,
		w: 95px,
		x: 0px,
		y: 0px,
		hover-x: 0px,
		hover-y: -95px,
		disabled-x: 0px,
		disabled-y: -190px
	),
	number: (
		h: 108px,
		w: 66px,
		zero-x: -270px,
		zero-y: 0,
		one-x: -336px,
		one-y: 0,
		two-x: -402px,
		two-y: 0,
		three-x: -468px,
		three-y: 0,
		four-x: -534px,
		four-y: 0,
		five-x: -600px,
		five-y: 0,
		six-x: -666px,
		six-y: 0,
		seven-x: -732px,
		seven-y: 0,
		eight-x: -798px,
		eight-y: 0,
		nine-x: -864px,
		nine-y: 0
	),
	share: (
		h: 34px,
		w: 40px,
		twitter-x: -520px,
		twitter-y: -150px,
		facebook-x: -556px,
		facebook-y: -150px
	)
);

@function sprite($sprite, $value) {
    @return map-get(map-get($sprites, $sprite), $value);
}

// End variables