//
// Site header
//

.site-header {
	position: relative;
	
	background: {
		image: url(../images/hillary-plane-tinted.jpg);
		position: center top;
		size: cover;
		repeat: no-repeat;
	}
	
	.positioning {
		font-weight: fontWeight(body);
		color: palette(blue);
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.positioning__number {
		display: block;
		margin: 0;
		font-weight: fontWeight(headline);
	}
	
	.main-nav {
		margin-top: space(mobile);
		li {
			font-weight: fontWeight(headline);
			display: inline-block;
			padding-right: 4px;
			padding-bottom: 3px;
		}
		a {
			display: inline-block;
			padding: 3px 5px;
			background-color: palette(white);
			color: palette(blue);
			text-decoration: none;
			transition: all .2s;
			&:hover {
				background-color: palette(blue);
				color: palette(white);
			}
		}
	}
	
	.site-logo {
		display: block;
		height: sprite(logo-small, h);
		width: sprite(logo-small, w);
		background: {
			color: transparent;
			image: url(../images/30reasons-sprites.png);
			position: sprite(logo-small, x) sprite(logo-small, y);
			repeat: no-repeat;
		}
		text-indent: sprite(logo-small, w);
		overflow: hidden;
	}
	
	a.site-logo {
		transition: all .2s;
		&:hover {
			opacity: .5;
		}
	}
	
	@include breakpoint($bp-med) {

		.site-logo {
			height: sprite(logo, h);
			width: sprite(logo, w);
			background: {
				position: sprite(logo, x) sprite(logo, y);
			}
			text-indent: sprite(logo, w);
		}
		
		.main-nav {
			margin-top: space(standard);
		}
		
		.main-nav li {
			display: block;
			@include zero;
			margin-bottom: 8px;
		}

	}
			
}

//
// You are here
//

.sec-home {
	#NavHome {
		display: none;
	}
}
.sec-all {
	#NavAll {
		display: none;
	}
}
.sec-reason {

}