//
// Site about
//

.site-about {
	position: relative;
	clear: both;
	width: 100%;
	margin: 0;
	padding: space(mobile);
	h2 {
		margin-bottom: -1*space(mobile, small);
	}
	a {
		display: inline;
		padding: 0 3px;
		background-color: palette(blue, xx-light);
		color: palette(blue);
		font-weight: fontWeight(headline);
		text-decoration: none;
		transition: all .2s;
		&:hover {
			background-color: palette(blue);
			color: palette(white);
		}
	}	
	@include breakpoint($bp-med) {
		padding: space(standard, x-large) space(standard, medium) space(standard, large);
		h2 {
			margin-bottom: -1*space(standard, small);
		}
	}
	@include breakpoint($bp-large) {
		.site-about__content {
			column-count: 2;
			column-gap: space(standard);
		}
		h1 {
			column-span: all;
		}
	}
	@include breakpoint($bp-x-large) {
		.site-about__content {
			column-count: 3;
			column-gap: space(standard);
		}
	}
}



