//
// Theming
//

.theme-blue {
	.site-header {
		background-color: palette(blue);
		background-image: none;
		color: palette(white);
	}
	.site-header .positioning {
		color: palette(white);
	}
	.site-header .positioning a {
		color: palette(white);
	}
	.site-header .positioning__number {
		color: palette(red);
	}
	.main-nav a:hover {
		background-color: palette(blue, light);
		color: palette(white);
	}
	#NavFollow a {
		background-color: palette(blue, x-light);
		color: palette(blue);
		&:hover {
			background-color: palette(blue, light);
			color: palette(white);
		}
	}
}

.theme-red {
	.site-header {
		background-color: palette(red);
		background-image: none;
		color: palette(white);
	}
	.site-header .positioning {
		color: palette(white);
	}
	.site-header .positioning a {
		color: palette(white);
	}
	.main-nav a {
		color: palette(red);
	}
	.main-nav a:hover {
		background-color: palette(blue);
		color: palette(white);
	}
}

