{% include _html-head.html %}
<body class="{{ page.bodyClass }}">

<div id="Wrap">

	{% include _global-head.html %}
	
	<section id="Content" class="site-content carousel">
	
		{% for reason in site.reasons %}
		
			{% if forloop.index <= site.currentReason %}
				<div class="poster-slide">
					<div id="P{{ reason.numberOnes }}{{reason.numberTens }}" class="poster">
						<div class="poster__info is-closed">
							<div class="poster__number"><span class="number__tens number--{{ reason.numberTens }}">{{ reason.numberTens }}</span><span class="number__ones number--{{ reason.numberOnes }}">{{ reason.numberOnes }}</span></div>
							{% if reason.artist %}
								<div class="poster__artist"><a href="{{ reason.url | prepend: site.github.url }}">{{ reason.artist }}</a></div>
							{% endif %}
							<div class="poster__pubdate">{{ reason.pubDate }}</div>
							<div class="poster__description">
								{{ reason.content }}
							</div>
							<div class="poster__actions">
								<div class="action__toggle">
									<a href="#P{{ reason.numberOnes }}{{reason.numberTens }}" class="poster__info-open">Show info</a>
									<a href="#P{{ reason.numberOnes }}{{reason.numberTens }}" class="poster__info-close">Close info</a>
								</div>
								<span class="action__label">Share:</span>
							{% capture twitterUrl %}http://twitter.com/intent/tweet?text={{ reason.title|url_encode }}&url={{ site.github.url|url_encode }}{{ reason.url|url_encode }}{% endcapture %}
							{% capture facebookUrl %}https://www.facebook.com/sharer/sharer.php?u={{ site.github.url|url_encode }}{{ reason.url|url_encode }}{% endcapture %}
							<div class="action__share">
								<a class="share--fb" href="{{ facebookUrl }}">Facebook</a>
								<a class="share--tw" href="{{ twitterUrl }}">Twitter</a>
							</div>
							</div>
						</div>
						<div class="poster__image">
							<a href="{{ site.github.url }}{{ reason.url }}"><img src="{{ site.github.url }}/public/images/30reasons-pattern.gif" data-flickity-lazyload="{{ site.github.url }}/public/images/{{ reason.image }}" /></a>
						</div>
					</div>
				</div>
			{% else %}
				{% break %}
			{% endif %}
		{% endfor %}
		
		{% unless site.currentReason == 1 %}
			<ul class="poster-nav">
				<li class="poster-nav__prev"><a class="js-animate-scroll" href="#Content">Prev</a></li>
				<li class="poster-nav__next"><a class="js-animate-scroll" href="#Content">Next</a></li>
			</ul>
		{% endunless %}

	</section>
  
</div>
<!--/#Wrap-->
{% assign reasonIndex = site.currentReason|minus:1 %}
{% include _html-foot.html index=reasonIndex %}