{% include _html-head.html reason="yes" %}

<body class="{{ page.bodyClass }}">

<div id="Wrap">

	{% include _global-head.html number=page.number %}

	<section id="Content" class="site-content">
		<div class="poster-slide">
			<div id="P{{ page.numberTens }}{{ page.numberOnes }}" class="poster">
				<div class="poster__info is-closed">
					<div class="poster__number"><span class="number__tens number--{{ page.numberTens }}">{{ page.numberTens }}</span><span class="number__ones number--{{ page.numberOnes }}">{{ page.numberOnes }}</span></div>
					<div class="poster__artist">{{ page.artist }}</div>
					<div class="poster__pubdate">{{ page.pubDate }}</div>
					<div class="poster__description">
						{{ content }}
					</div>
					<div class="poster__actions">
						<div class="action__toggle">
							<a href="#P{{ page.numberTens }}{{ page.numberOnes }}" class="poster__info-open">Show info</a>
							<a href="#P{{ page.numberTens }}{{ page.numberOnes }}" class="poster__info-close">Close info</a>
						</div>
						<span class="action__label">Share:</span>
							{% capture twitterUrl %}http://twitter.com/intent/tweet?text={{ page.title|url_encode }}&url={{ site.siteUrl|url_encode }}{{ page.url|url_encode }}{% endcapture %}
							{% capture facebookUrl %}https://www.facebook.com/sharer/sharer.php?u={{ site.siteUrl|url_encode }}{{ page.url|url_encode }}{% endcapture %}
							<div class="action__share">
								<a class="share--fb" href="{{ facebookUrl }}">Facebook</a>
								<a class="share--tw" href="{{ twitterUrl }}">Twitter</a>
							</div>
					</div>
				</div>
				
				<div class="poster__image">
					<img src="{{ site.siteUrl }}/public/images/{{ page.image }}" />
				</div>
			</div>
		</div>

		{#
			Prev/next nav for collections via:
			https://gist.github.com/budparr/3e637e575471401d01ec
		#}
		
		{% capture the_collection %}{{ page.collection }}{% endcapture %}

		{% if page.collection %}
			{% assign document = site[the_collection] %}
		{% endif %}

		{% for links in document %}
			{% if links.title == page.title %}
				{% unless forloop.first %}
					{% assign prevurl = prev.url %}
					{% assign prevtitle = prev.title %}
				{% endunless %}
				{% unless forloop.last or forloop.index == site.currentReason %}
					{% assign next = document[forloop.index] %}
					{% assign nexttitle = next.title %}
					{% assign nexturl = next.url %}
				{% endunless %}
			{% endif %}
			{% assign prev = links %}
		{% endfor %}

		{% unless site.currentReason == 1 %}
			<ul class="poster-nav">
				<li class="poster-nav__prev">
					{% if prevurl %}
						<a href="{{ prevurl }}">Prev</a>
					{% else %}
						<a class="is-disabled" href="#">Prev</a>
					{% endif %}
				</li>
				<li class="poster-nav__next">
					{% if nexturl %}
						<a href="{{ nexturl }}">Next</a>
					{% else %}
						<a class="is-disabled" href="#">Prev</a>
					{% endif %}
				</li>
			</ul>
		{% endunless %}

	</section>

</div>
<!--/#Wrap-->

{% include _html-foot.html useFlickity="no" %}
